body{
   text-align: center;
}
.btn{
  border: solid 3px black;
  width:  100px;
  height: 100px;
  display: inline;
  font-size: 30px;
  coloe: ##2694ab;
  background-color: #fdc4b6;
} 
h1{
  font-size: 90px;
  font-family: 標楷體;
}
h2{
  font-size: 45px;
  font-family: 標楷體;
}